<div class="flex">
  <div class="mr-8">
    <!-- Classement Hommes -->
    <h3 class="text-lg font-semibold text-gray-900">Classement Hommes :</h3>
    <ol class="mt-4 space-y-4">
      <% count = 1 %>
      <% @sorted_profiles.each do |profile| %>
        <% if profile.gender == 'Homme' %>
          <li class="flex items-center <%= 'bg-red-100 border-red-500 border-2 shadow-lg rounded-md p-2' if profile == current_user.profile %>">
            <div class="mr-4">
              <p class="text-lg font-semibold text-gray-700">#<%= count %></p>
            </div>
            <% if profile.photo.attached? %>
              <%= image_tag(profile.photo, class: "h-12 w-12 rounded-full bg-gray-50") %>
            <% else %>
              <span class="h-12 w-12 rounded-full bg-gray-50"></span>
            <% end %>
            <div class="ml-4">
              <p class="text-lg font-semibold text-gray-900"><%= profile.username %> <%= profile.score %>xxx<%= profile.division %></p>
            </div>
          </li>
          <% count += 1 %>
        <% end %>
      <% end %>
      <% if count == 1 %>
        <li>Aucun profil Homme trouvé.</li>
      <% end %>
    </ol>
  </div>

  <div>
    <!-- Classement Femmes -->
   <h3 class="text-lg font-semibold text-gray-900">Classement Femmes :</h3>
<ol class="mt-4 space-y-4">
  <% count = 1 %>
  <% @sorted_profiles.each do |profile| %>
    <% if profile.gender == 'Femme' %>
      <li class="flex items-center <%= 'bg-red-100 border-red-500 border-2 shadow-lg rounded-md p-2' if profile == current_user.profile %>">
        <div class="mr-4">
          <p class="text-lg font-semibold text-gray-700">#<%= count %></p>
        </div>
        <% if profile.photo.attached? %>
          <%= image_tag(profile.photo, class: "h-12 w-12 rounded-full bg-gray-50") %>
        <% else %>
          <span class="h-12 w-12 rounded-full bg-gray-50"></span>
        <% end %>
        <div class="ml-4">
          <p class="text-lg font-semibold text-gray-900"><%= profile.username %> <%= profile.score %>xxx<%= profile.division %></p>
        </div>
      </li>
      <% count += 1 %>
    <% end %>
  <% end %>
  <% if count == 1 %>
    <li>Aucun profil Femme trouvé.</li>
  <% end %>
</ol>
</div>
</div>

</div>
</div>


<script>
  // Fonction de rafraîchissement de la page
  function refreshPage() {
    location.reload(); // Rafraîchit la page
  }
  // Planifie le rafraîchissement toutes les 10 secondes (10000 ms)
  setTimeout(refreshPage, 10000);
</script>
