<!-- formulaire creation de Profil -->
<%# <%= simple_form_for @profile do |f| %>
<%#
    <div class="space-y-12">
    <div class="border-b border-white/10 pb-12">
      <h2 class="text-base font-semibold leading-7 text-white">Profile</h2>
      <p class="mt-1 text-sm leading-6 text-gray-400">This information will be displayed publicly so be careful what you share.</p>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <%= f.input :username, label: "Ton pseudo", class: "flex-1 border-0 bg-transparent py-1.5 pl-1 text-white focus:ring-0 sm:text-sm sm:leading-6", placeholder: "janesmith" %>
        <%# </div>
        <div class="col-span-full">
          <%= f.input :description, label: "Description", as: :text, rows: "3", class: "block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
          <%# <p class="mt-3 text-sm leading-6 text-gray-400">Ecris quelques mots à ton propos.</p>
        </div>
        <div class="col-span-full">
          <%= f.input :photo, label: "Photo", as: :file %>
        <%# </div>
      </div>
    </div> %>
    <%# <div class="border-b border-white/10 pb-12">
      <h2 class="text-base font-semibold leading-7 text-white">Informations personnelles</h2>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <%= f.input :date_birth, label: "Date de naissance", as: :date, class: "block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
        <%# </div>
        <div class="sm:col-span-4">
          <%= f.input :location, label: "Localisation", class: "block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
        <%# </div>
        <div class="sm:col-span-2 sm:col-start-1">
          <%= f.input :gender, collection: ['Homme', 'Femme'], label: "Genre", class: "block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
        <%# </div>
        <div class="sm:col-span-2">
          <%= f.input :orientation, label: "Orientation sexuelle", class: "block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
        <%# </div> %>
      <%# </div>
    </div>
  </div>
  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="button" class="text-sm font-semibold leading-6 text-white">Annuler</button>
    <%= f.button :submit, "Celui la", class: "btn btn-primary rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500" %>
  <%# </div> %>
<%# <% end %>

<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->
<section class="relative flex flex-wrap lg:h-screen lg:items-center">
  <div class="w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
      <h1 class="text-2xl font-bold sm:text-3xl">Get started today!</h1>

      <p class="mt-4 text-gray-500">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et libero nulla
        eaque error neque ipsa culpa autem, at itaque nostrum!
      </p>

      <%= simple_form_for @profile do |f| %>
      <div class="mx-auto mb-0 mt-8 max-w-md space-y-4">
        <!-- Insert your form fields here -->
        <!-- For example: -->
        <div>
          <%= f.input :username, label: "Ton pseudo", class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm", placeholder: "janesmith" %>
        </div>
        <div>
          <%= f.input :description, label: "Description", class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm", placeholder: "janesmith" %>
        </div>
        <div>
          <%= f.input :date_birth, label: "Date de naissance", as: :date, class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm", placeholder: "janesmith" %>
        </div>
        <div>
          <%= f.input :gender, collection: ['Homme', 'Femme'], label: "Genre", class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm", placeholder: "janesmith" %>
        </div>
        <div>
          <%= f.input :photo, label: "Photo", as: :file , class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm", placeholder: "janesmith" %>
        </div>

        <div class="flex items-center justify-between">
          <button type="button" class="text-sm font-semibold leading-6 text-white">Annuler</button>
          <%= f.button :submit, "Enregistrer mon profil", class: "inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="relative h-64 w-full sm:h-96 lg:h-full lg:w-1/2">
    <img
      alt="Welcome"
      src="https://images.unsplash.com/photo-1630450202872-e0829c9d6172?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
      class="absolute inset-0 h-full w-full object-cover"
    />
  </div>
</section>
