<div>
  <div>
    <img class="sm-hidden flex h-32 w-full object-cover lg:h-48" src="https://images.unsplash.com/photo-1444628838545-ac4016a5418a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt=""  id="mobile-menu">
  </div>
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
    <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
      <div class="flex">
        <% if current_user && current_user.profile.photo.attached? %>
          <%= image_tag(current_user.profile.photo, class: "h-24 w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32") %>
        <% else %>
          <span class="h-24 w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32"></span>
        <% end %>
      </div>
      <div class="mt-6 sm:flex sm:min-w-0 sm:flex-1 sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
        <div class="mt-6 min-w-0 flex-1 sm:hidden md:block">
          <% if current_user %>
            <h1 class="truncate text-2xl font-bold text-gray-900"><%= current_user.profile.username %></h1>
          <% end %>
        </div>
        <div class="mt-6 flex flex-col justify-stretch space-y-3 sm:flex-row sm:space-x-4 sm:space-y-0">

         <%= link_to "Hunting Board", division_matches_path(current_user.profile), class:"hover:text-pink-500 bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium "  %>
        </div>
      </div>
    </div>

  </div>
</div>

<%= form_with(url: matchings_path, method: "post") do |form| %>
  <!-- Champ caché pour l'ID du gagnant -->
  <%= form.hidden_field :winner_id %>
  <!-- Champ caché pour l'ID du perdant -->
  <%= form.hidden_field :loser_id %>

  <!-- En-tête du classement des profils -->
  <%# <h2 class="text-xl font-semibold text-gray-900">Choose the best</h2> %>

  <!-- Début de la liste ordonnée pour les profils -->
  <div class="flex justify-center space-x-8 mt-6">
    <%= render 'profile_card', profile: @profile1, form: form %>
    <%= render 'profile_card', profile: @profile2, form: form %>
  </div> <!-- Fin de la liste ordonnée pour les profils -->
<% end %>

<script>
function selectWinner(winnerId) {
  var loserId = winnerId == <%= @profile1.id %> ? <%= @profile2.id %> : <%= @profile1.id %>;
  document.querySelector('input[name="winner_id"]').value = winnerId;
  document.querySelector('input[name="loser_id"]').value = loserId;
  document.querySelector('form').submit();
}
</script>
