<%= form_with(url: matchings_path, method: "post") do |form| %>
  <!-- Champ caché pour l'ID du gagnant -->
  <%= form.hidden_field :winner_id %>
  <!-- Champ caché pour l'ID du perdant -->
  <%= form.hidden_field :loser_id %>

  <!-- En-tête du classement des profils -->
  <h2 class="text-xl font-semibold text-gray-900">Choose the best</h2>

  <!-- Début de la liste ordonnée pour les profils -->
  <div class="flex justify-center space-x-8 mt-6">
    <%= render 'profile_card', profile: @profile1, form: form %>
    <%= render 'profile_card', profile: @profile2, form: form %>
  </div> <!-- Fin de la liste ordonnée pour les profils -->
<% end %>

<script>
function selectWinner(winnerId) {
  var loserId = winnerId == <%= @profile1.id %> ? <%= @profile2.id %> : <%= @profile1.id %>;
  document.querySelector('input[name="winner_id"]').value = winnerId;
  document.querySelector('input[name="loser_id"]').value = loserId;
  document.querySelector('form').submit();
}

</script>
