<div class="container chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <h1 class="text-2xl font-bold mb-4">
    <% if current_user == User.find(@chatroom.user_1_id) %>
      Conversation avec <%= Profile.find_by(user_id: @chatroom.user_2_id).username %>
    <% else %>
      Conversation avec <%= Profile.find_by(user_id: @chatroom.user_1_id).username %>
    <% end %>
  </h1>

  <div class="messages space-y-4" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div class="flex flex-col">
        <% user = User.find(message.user_id) %>
        <% profile = Profile.find_by(user_id: user.id) %>
        <% if message.user == current_user %>
          <div class="self-end bg-black text-white px-4 py-2 rounded-lg max-w-2xl">
            <p class="text-gray-300 text-xs"><%= profile.username %></p>
            <p><%= message.content %></p>
            <p class="text-gray-300 text-xs mt-1"><%= message.created_at.strftime("%d/%m/%Y %H:%M") %></p>
          </div>
        <% else %>
          <div class="bg-pink-500 text-white px-4 py-2 rounded-lg max-w-2xl">
            <p class="text-gray-300 text-xs"><%= profile.username %></p>
            <p><%= message.content %></p>
            <p class="text-gray-300 text-xs mt-1"><%= message.created_at.strftime("%d/%m/%Y %H:%M") %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="flex">
    <%= simple_form_for [@chatroom, @message], html: {class: "flex-grow-1"} do |f| %>
      <%= f.input :content, autofocus: true, label: false, placeholder: "Tape ton message ici...", wrapper_html: {class: "flex-grow-1 mr-2"} %>
      <%= f.submit "Send", class: "btn btn-primary mb-3 bg-black text-pink-500 px-10 border-2 rounded-l-lg rounded-r-lg w-1/2 font-bold" %>
    <% end %>
  </div>
</div>

