
<nav class="bg-gray-900" data-controller="navmob">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" data-action="click->navmob#togglemenu" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12">
          </svg>
        </button>
      </div>
      <div class="flex items-center justify-center sm:justify-start">
      <%= link_to root_path do  %>
        <div class="flex items-center">
          <%= image_tag("cutygame-blanc.png", class:"block h-32 w-auto lg:hidden") %>
          <%= image_tag("cutygame-blanc.png", class:"hidden h-32 w-auto lg:block") %> <% end %>
        </div>
        <div class="hidden sm:ml-12 sm:block">
          <div class="block flex space-x-6 mt-2">
        <% if user_signed_in? %>
      <% if current_user.profile %>

         <%= link_to "The game", new_matching_path(current_user.profile), class:" hover:text-pink-500 bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium "  %>
          <%= link_to "Hunting Board", division_matches_path(current_user.profile), class:"hover:text-pink-500 bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium "  %>
          <%= link_to "Classement", profiles_path(current_user.profile), class:" hover:text-pink-500 bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium "  %>
          <%= link_to "Mon Profil", profile_path(current_user.profile.id), class:" hover:text-pink-500 bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium "  %>
      <% else %>
        <%= link_to "Creer un Profile", new_profile_path, class:" hover:text-pink-500 bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" %>
      <% end %>
      <%= link_to "Deconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class:" hover:text-pink-500 bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium " %>
    <% else %>
      <%= link_to "S'identifier", new_user_session_path, class:"hover:text-pink-500 bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium "  %>
    <% end %>

          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex  pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button" class="rounded-full bg-gray-900 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
          <span class="sr-only">View notifications</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          </svg>
          </div>
          <div class="absolute inset-y-0 right-0 flex  pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button" class="rounded-full bg-gray-900 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">

        <% if user_signed_in? %>

        <%if current_user.profile.photo.attached?%>
        <%= link_to edit_profile_path(current_user.profile) do %>
        <%= image_tag(current_user.profile.photo, class:"flex items-center justify-center rounded-full overflow-hidden h-12 w-12")  %>
        <% end %>
        <% else %>
        <%= image_tag("cutygame-blanc.png", class:"flex items-center justify-center rounded-full overflow-hidden h-12 w-12") %>
          <% end %>
          <% else %>
            <%= image_tag("cutygame-blanc.png", class:"flex items-center justify-center rounded-full overflow-hidden h-12 w-12") %>
            <%end %>


          <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
          <%# <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
          </div> %>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 flex-col-reverse px-2 pb-3 pt-2 bg-pink-900 hidden"data-target="navmob.navmob" >
       <% if user_signed_in? %>
      <% if current_user.profile %>
        <%= link_to "Classement", profiles_path(current_user.profile), class:" border border-solid border-2 border-black-500 text-white block rounded-md px-3 m-1 py-3 text-base font-medium"  %>
          <%= link_to "Mon Profil", profile_path(current_user.profile.id), class:" border border-solid border-2 border-black-500 text-white block rounded-md px-3 m-1 py-3 text-base font-medium"  %>
        <%= link_to "The game", new_matching_path(current_user.profile), class:"border border-solid border-2 border-black-500 text-white block rounded-md px-3 m-1 py-3 text-base font-medium"  %>
        <%= link_to "Hunting Board", division_matches_path(current_user.profile), class:" border border-solid border-2 border-black-500 text-white block rounded-md px-3 m-1 py-3 text-base font-medium"  %>
      <% else %>
        <%= link_to "Créer Ton Profil", new_profile_path, class:"border border-solid border-2 border-black-500 text-white block rounded-md px-3 m-1 py-3 text-base font-medium" %>
      <% end %>
      <%= link_to "Déconnexion", destroy_user_session_path, "data-turbo-frame": "main", "data-turbo-method": "delete", class:" border border-solid border-2 border-black-500 text-white block rounded-md px-3 m-1 py-3 text-base font-medium" %>
    <% else %>
      <%= link_to "S'identifier", new_user_session_path, class:"border border-solid border-2 border-black-500 text-white block rounded-md px-3 m-1 py-3 text-base font-medium"  %>
    <% end %>
    </div>
  </div>
</nav>
