<nav>
  <ul>
        <!--liens pour aller sur home -->
    <li><%= link_to "Home", root_path, class: "nav-link" %></li>
    <!-- pour veriffier si le User a un Profil -->
    <% if user_signed_in? %>
      <% if current_user.profile %>
        <!-- Lien pour modifier le profil -->
        <li><%= link_to "Edit Profile", edit_profile_path(current_user.profile), class: "nav-link" %></li>
      <% else %>
        <!-- Lien pour créer le profil -->
        <li><%= link_to "Create Profile", new_profile_path, class: "nav-link" %></li>
      <% end %>
      <!-- Lien pour se déconnecter -->
      <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %></li>
    <% else %>
      <!-- Lien pour se connecter -->
      <li><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
    <% end %>
  </ul>
</nav>
